<header class="bg-dark text-white py-3 mb-3">
    <div class = "container justify-content-between">
        <h1 class="h1 fw-bold">DIGIMARK 2024</h1>
    </div>
</header>

<main class="py-3">
    <rw-registrationform [registrationData]="registrationData"></rw-registrationform>
    <rw-participantdata [registrationData]="registrationData"></rw-participantdata>
</main>

<footer class="bg-dark text-white py-4 px-4"> 
    <div class="container px-3">
        <h4 class="h4 fw-bold mt-2 mb-4">Registration Form Digimark</h4>
        <p class="pt-2 mt-3 mb-2">Copyright &copy; Nathanael Pozha.</p>
    </div>
</footer>